.ssfooter {
  padding: 20px;
  background-color: var(--colorbg);
}

.f-heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ulMenu {
  cursor: pointer;
  li,
  i {
    margin: 5px;
  }
  span {
    font-size: 14px;
    font-weight: 600;
  }
  li {
    transition: all 0.3s;
    &:hover {
      transform: translateY(-3px);
      transition: all 0.3s;
      span {
        color: var(--colorGlobal);
      }
    }
  }
}
.ulMenuLogo {
  span {
    font-weight: 600;
    font-size: 14px;
  }
}
.iconFooter {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  left: 35px;
  background: var(--colorGlobal);
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 2px 2px 1px #636363;
  }
}
